@page "/animal/{Id:int}"
@rendermode RenderMode.InteractiveServer

<div class="card mb-3" style="max-width: 1000px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="@_animal.ImagePath" class="img-fluid rounded-start" alt="@_animal.Name">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@_animal.Name</h5>
                <p>@_animal.Description</p>
                <p>@_animal.Type</p>
                <p>@_animal.Age</p>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private AnimalServise _animalServise;
    private AnimalOutputModel _animal;

    public Animal()
    {
        _animalServise = new AnimalServise();
    }

    protected override void OnInitialized()
    {
        _animal = _animalServise.GetAnimalById(Id);
    }
}
