@inject NavigationManager navManager

<EditForm EditContext="editContext" OnValidSubmit="SignUp" FormName="Registration" class="@ClassName" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <DataAnnotationsValidator />
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registration window</h5>
                <button @onclick="CloseModalSingIn" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Name:</label>
                        <InputText @bind-Value="Registration.Name" class="form-control" id="recipient-name" />
                        <ValidationMessage For="@(() => Registration.Name)" />
                    </div>
                    <div class="mb-3">
                        <label for="recipient-email" class="col-form-label">Email:</label>
                        <InputText @bind-Value="Registration.Email" class="form-control" id="recipient-email" />
                        <ValidationMessage For="@(() => Registration.Email)" />
                    </div>
                    <div class="mb-3">
                        <label for="recipient-phone" class="col-form-label">Phone:</label>
                        <InputText @bind-Value="Registration.Phone" class="form-control" id="recipient-phone" />
                    </div>
                    <div class="mb-3">
                        <label for="recipient-password" class="col-form-label">Password:</label>
                        <InputText @bind-Value="Registration.Password" class="form-control" id="recipient-password" />
                        <ValidationMessage For="@(() => Registration.Password)" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button @onclick=CloseModalSingIn type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
            @if(_isError)
            {
                <div style="color: red; padding: 5px 15px">@Message</div>
            }
        </div> 
    </div>
</EditForm>

@code
{
    private bool _isError { get; set; } 

    [SupplyParameterFromForm]
    private RegistrationInputModel Registration { get; set; } 

    [Parameter]
    public string ClassName { get; set; } = "modal fade";

    [Parameter]
    public EventCallback<string> ClassNameChanged { get; set; }

    private EditContext? editContext;

    private string Message { get; set; } = "";

    public RegistrationModalWindow()
    {
        Registration = new();
        editContext = new(Registration);
        _isError = false;
    }

    private async Task CloseModalSingIn()
    {
        ClassName = "modal fade";
        await ClassNameChanged.InvokeAsync(ClassName);
    }

    private async Task SignUp()
    {
        if (editContext != null && editContext.Validate())
        {
            var password = Registration.Password.ToLower();
            Registration.Password = password;

            UserRepository repository = new();
            if (!repository.GetInfoForRegistration(Registration.Email))
            {
                try
                {
                    UserService service = new();
                    Login.Id = service.AddUser(Registration);
                    Login.Role = 1;
                    ClassName = "modal fade";
                    CastomHeader.IsRender = true;
                    await ClassNameChanged.InvokeAsync(ClassName);
                    navManager.NavigateTo("/login");
                    _isError = false;
                }
                catch
                {
                    Message = "Registration error";
                    _isError = true;
                }
            }
            else
            {
                Message = "email alredy exists";
                _isError = true;
            }       
        }      
    } 
}
