@page "/card"

<div class="card" style="width: 18rem;">
    <img src="@Shelter.ImagePath" class="card-img-top" alt="@Shelter.NameShelter">
    <div class="card-body">
        <h5 class="card-title">@Shelter.NameShelter</h5>
        <p class="card-text">@Shelter.TypeAnimal</p>
        <p class="card-text">@Shelter.Description</p>
        <a href="#" class="btn btn-primary">Go to</a>
    </div>
</div>

@code {
    [Parameter]

    public ShelterCardOutputModel Shelter { get; set; }

    private ShelterManager _shelterManager { get; set; }

    public ShelterCard()
    {
        _shelterManager = new ShelterManager();
        Shelter = _shelterManager.GetAllShelter();
    }

    


}
