<div class="card" style="width: 18rem;">
    <img src="@Shelter.ImagePath" class="card-img-top" alt="@Shelter.NameShelter" width="200px" height="250px" >
    <div class="card-body">
        <h5 class="card-title">@Shelter.NameShelter</h5>
        <p class="card-text">@Shelter.TypeAnimal</p>
        <p class="card-text">@Shelter.Description</p>
        <a href="#" class="btn btn-primary">Go to</a>
    </div>
</div>

@code {
    [Parameter]
    
    public ShelterCardOutputModel Shelter { get; set; }
}
